<%-include('./adminPartials/header.ejs') %>
<div class="home" style="display: flex;" style="min-height:100vh">
    <%-include('./adminPartials/sidebar.ejs')%>
    <div class="content_section">
        <div class="overview_section">
            <div class="head_inp">
                <h5>Orders</h5>
            </div>
        </div>
        <div class="items_section">
            <div class="table">
                <div class="top_section">
                    <p>Customers</p>
                    <div class="filter">
                        <a href="">Filtered by</a>
                        <a href=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
