<%-include('./adminPartials/header.ejs') %>
<div class="home" style="display: flex;">
    <%-include('./adminPartials/sidebar.ejs')%>
    <div class="content_section">
        <div class="overview_section">
            <div class="head_inp">
                <h5>Orders</h5>
                
            </div>
        </div>
    </div>
</div>
<%-include('./adminPartials/footer.ejs') %>