<%-include('./adminPartials/header.ejs') %>
    <div class="home" style="display: flex;" style="min-height:100vh">
        <%-include('./adminPartials/sidebar.ejs')%>
            <div class="content_section">
                <div class="overview_section">
                    <div class="head_inp">
                        <h5>Overview</h5>
                        <a href="/admin/logout">Logout</a>
                    </div>
                </div>
                <div class="items_section" style="display: flex;flex-direction: column;align-items: center;justify-content: end;">
                    <div class="chart" style="width: 60%;height: 500px;display: flex;align-items: center;justify-content: center;">

                        <canvas id="myChart"  ></canvas>
                    </div>
                    <div class="chart" style="width: 60%;height: 500px;display: flex;align-items: center;justify-content: center;">

                        <canvas id="chart2"  ></canvas>
                    </div>
                </div>
            </div>
    </div>
    <script>
        const ctx = document.getElementById("myChart").getContext("2d");

        new Chart(ctx, {
            type: "bar",
            data: {
//                linear-gradient(90deg, #92FE9D 0%, #00C9FF 100%, #00C9FF 100%))
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [
                    {
                        label: "10 of votes",
                        data: [12, 9, 3, 2, 3],
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                aspectRatio:1.8,
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                },
            },
        });
        const ctx2=document.getElementById("chart2").getContext('2d')
        new Chart(ctx2,{
            type:"line",
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [
                    {
                        label: "10 of votes",
                        data: [12, 9, 3, 2, 3],
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                aspectRatio:1.8,
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                },
            },
        })
    </script>
    <style>
        #myChart {
          width: 200px;
          height: 200px;
        }
      </style>
    <%-include("./adminPartials/footer.ejs")%>