<%-include('./adminPartials/header.ejs') %>
    <div class="home" style="display: flex;" style="min-height:100vh">
        <%-include('./adminPartials/sidebar.ejs')%>
            <div class="content_section">
                <div class="overview_section">
                    <div class="head_inp">
                        <h5>Overview</h5>
                        <a href="/admin/logout">Logout</a>
                    </div>
                </div>
                <div class="items_section">
                </div>
            </div>
    </div>