<%-include('./adminPartials/header.ejs') %>
    <div class="home" style="display: flex;" style="min-height:100vh">
        <%-include('./adminPartials/sidebar.ejs')%>
            <div class="content_section">
                <div class="overview_section">
                    <div class="head_inp">
                        <h5>Overview</h5>
                        <a href="/admin/logout">Logout</a>
                    </div>
                </div>
                <div class="items_section" style="display: flex;flex-direction: column;align-items: end;justify-content: end;background-color: white;">
<div class="report">
    <div class="buttons">
        <div class="head">
            <h2>Sales Report</h2>
        </div>
        <div class="btns">
            <button class="active" onclick="loadChart()">By Day</button>
            <button onclick="byWeekReport()">By Week</button>
            <button onclick="byMonthReport()">By Month</button>
        </div>
    </div>
    <div class="chart" style=" box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.227);width: 80%;height: 500px;display: flex;align-items: center;justify-content: center;" id="myChart">
    </div>
</div>

                </div>
            </div>
    </div>
   <script>
    var month;
    function loadChart(){
        try{
            fetch("/admin/products/orders/getSalesReport").then(response=>{
                return response.json()
              }).then(res=>{
                if(res.err){
                    alert(JSON.stringify(res.err),"err")
                }
                localStorage.setItem("ByMonth",res.ordersByMonth)
                month=res.ordersByMonth
                localStorage.setItem("ByDay",res.ordersbyDay)
                google.charts.load('current',{packages:['corechart']});
                google.charts.setOnLoadCallback(drawChart);
                google.charts.setOnLoadCallback(drawColumnnChart);
                let days=["Monday","Tuesday","Wednesday","Thersday","Friday","Satuarday","Sunday"]
                function drawChart(){
                    let byDay=res.ordersbyDay.map(value=>(
                        [value.day,
                        value.count]
                    ))

                    byDay.unshift(['Repor', 'Analytic'])

                  const data=google.visualization.arrayToDataTable(byDay)
            
              
                    const options={
                        
                        title:"Sales Report by Day",
                        hAxis: {title: 'Day'},
                        vAxis: {title: 'Total Number of sales'},
                        legend: 'none',
                        curveType: 'function',
                        colors: ['#92FE9D', '#92FE9D', '#92FE9D',
                        '#92FE9D', '#92FE9D', '#92FE9D',"#92FE9D"]
     
            
                    }
              
                    //Draw
                    const chart = new google.visualization.LineChart(document.getElementById('myChart'));
                    chart.draw(data, options);
              
                }
                function drawColumnnChart(){
                    let byDay=res.ordersbyDay.map(value=>(
                        [value.day,
                        value.count]
                    ))

                    byDay.unshift(['Day', 'Total Sales'])

                  const data=google.visualization.arrayToDataTable(byDay)
            
              
                    const options={
                        
                        title:"Sales Report by Day",
                        hAxis: {title: 'Total Number of Sales'},
                        vAxis: {title: 'Days'},
                        legend: 'none',
                        colors: ['#92FE9D', '#92FE9D', '#92FE9D',
                        '#92FE9D', '#92FE9D', '#92FE9D',"#92FE9D"]
     
            
                    }
              
                    //Draw
                    const chart = new google.visualization.ColumnChart(document.getElementById('myChart2'));
                    chart.draw(data, options);
                }
              })
        }catch(err){
          alert(err)
        }
    }
    loadChart()
    function byMonthReport(){
        google.charts.load('current',{packages:['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart(){
            let byDay=month.map(value=>(
                [value.month,
                value.count]
            ))

            alert(JSON.stringify(month))
            byDay.unshift(['Month', 'Total Sales'])
          const data=google.visualization.arrayToDataTable(byDay)
    
      
            const options={
                
                title:"Sales Report by Day",
                hAxis: {title: 'Day'},
                vAxis: {title: 'Total Number of sales'},
                legend: 'none',
                curveType: 'function',
                colors: ['#92FE9D', '#92FE9D', '#92FE9D',
                '#92FE9D', '#92FE9D', '#92FE9D',"#92FE9D"]

    
            }
      
            //Draw
            const chart = new google.visualization.LineChart(document.getElementById('myChart'));
            chart.draw(data, options);
      
        }
    }
   </script>
    <style>
        #myChart {
          width: 200px;
          height: 200px;
        }
      </style>
    <%-include("./adminPartials/footer.ejs")%>