<%-include('./adminPartials/header.ejs') %>
    <div class="home" style="display: flex;" style="min-height:100vh">
        <%-include('./adminPartials/sidebar.ejs')%>
            <div class="content_section">
                <div class="overview_section">
                    <div class="head_inp">
                        <h5>Returns</h5>
                        <div style="display: flex;gap: 20px;">
                            <form class="inp" style="height: 30px;display: flex;align-items: center;justify-content: start;background: #29292c;border-radius: 4.099px;padding: 0 10px;" method="post" action="/admin/category/serach/searchcategory/">
                                <input type="text" style="height: 100%;border: none;outline: none;background:transparent;font-size: 12px;" placeholder="Search Category" name="search">
                                <button style="height: 100%;width: 20px;margin: 0;padding: 0;background: transparent;display: flex;align-items: center;justify-content: center;" type="submit">

                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20 20L16.2223 16.2156M18.3158 11.1579C18.3158 13.0563 17.5617 14.8769 16.2193 16.2193C14.8769 17.5617 13.0563 18.3158 11.1579 18.3158C9.2595 18.3158 7.43886 17.5617 6.0965 16.2193C4.75413 14.8769 4 13.0563 4 11.1579C4 9.2595 4.75413 7.43886 6.0965 6.0965C7.43886 4.75413 9.2595 4 11.1579 4C13.0563 4 14.8769 4.75413 16.2193 6.0965C17.5617 7.43886 18.3158 9.2595 18.3158 11.1579V11.1579Z" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                                        </svg>
                                        
                                </button>
                            </form>
                            <a href="/admin/logout">Logout</a>
                        </div>
                    </div>
                </div>
                <div class="items_section" style="display:flex;justify-content: center;align-items: center;">
                    <div class="main_retursn">

                        <div class="return_card">
                            <div class="profile_and_id">
                                <img src="/images/userprofile.svg" alt="">
                                <span>
                                    #123asfdl;kasfd234
                                </span>
                            </div>
                            <div class="product_img" style="padding: 0 5px;">
                                <div class="product_detail" style="display: flex;align-items: center;justify-content: start;">
                                    <img src="/images/redrm.png" alt="">
                                </div>
                                <div class="product_detail" style="display: flex;flex-direction: column;align-items: start;justify-content: center;gap:10px">
                                    <span>Havial remote</span>
                                    <span>Remots Cateogry</span>
                                </div>
                            </div>
                            <div class="product_img" style="padding: 0 5px;">
                                <div class="product_detail" style="display: flex;align-items: center;justify-content: start;">
                                    <img src="/images/redrm.png" alt="">
                                </div>
                                <div class="product_detail" >
                                    <p style="font-size: 12px;">sadfdsf Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, expedita! </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
            </div>
            
    </div>
    <script>
        var addCatgorybutton=document.getElementById("mySizeChart")
        var categoryPopup=document.getElementById("mySizeChartModal")
        var closePopup=document.getElementById('clsbtn')
        addCatgorybutton.addEventListener('click',()=>{
            categoryPopup.classList.add("active")
        })
        closePopup.addEventListener('click',()=>{
            categoryPopup.classList.remove("active")
        })
        function opnecategoryFilter(openpop){
            document.getElementById(openpop).classList.toggle("active")
        }
        function openCategorysortPop(sortPop){
            document.getElementById(sortPop).classList.toggle("active")
        }
    </script>