* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}
body {
  position: relative;
  background-color: #fff;
}
$topBarWidth: 40px;
$mainNavWidth: 100px;
$mainBlack: black;
$themeColor: rgb(173, 74, 74);
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Agdasima&family=Akaya+Telivigala&family=Amatic+SC&family=Bebas+Neue&family=Comfortaa:wght@300;400;600&family=Fira+Sans:ital,wght@0,200;0,300;0,500;1,100;1,200;1,700;1,800&family=Gemunu+Libre:wght@200;500;600;700;800&family=Glass+Antiqua&family=Josefin+Slab:ital,wght@0,100;0,200;0,400;0,700;1,100;1,200;1,300&family=Kanit:ital,wght@0,200;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,400;1,600;1,800;1,900&family=Life+Savers:wght@400;700&family=Michroma&family=Mukta:wght@200;400&family=Noto+Sans+Mono:wght@100;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,700;0,800;1,300;1,400;1,800&family=Orbitron:wght@400;500;600;700;800&family=Oswald:wght@500&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,200;1,400&family=Quicksand:wght@300;400&family=Roboto:wght@400;500;700&family=Rubik+Vinyl&family=Satisfy&family=Shadows+Into+Light&family=Snippet&family=Solitreo&family=Syncopate:wght@400;700&display=swap");

// Header Design Started
.main_nav {
  height: $mainNavWidth;
  border-bottom: 1px solid rgb(221, 214, 214);
  .top_bar {
    width: 100%;
    height: $topBarWidth;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    font-size: 12px;
  }
  .nav_bar {
    width: 100%;
    height: calc(#{$mainNavWidth} - #{$topBarWidth});
    display: flex;
    align-items: center;
    justify-content: center;
    .all_items {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .links {
        display: flex;
        align-items: flex-start;
        gap: 40px;
        a {
          color: $mainBlack;
          text-decoration: none;
        }
      }
      .icons {
        display: flex;
        align-items: center;
        gap: 18px;
        .search_box {
          background-color: #f5f5f5;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 3px 8px;

          input {
            border: none;
            width: 180px;
            outline: none;
            background: transparent;
            font-size: 12px;
          }
        }
        .menu {
          display: none;
        }
      }
    }
  }
}
.main_nav {
  .nav_bar {
    .all_items {
      .links.active {
        display: block;
        background-color: rgb(173, 74, 74);
        position: absolute;
        right: 0;
        top: calc($mainNavWidth);
        display: flex;
        flex-direction: column;
        width: 200px;

        padding: 10px;
      }
    }
  }
}
@media (max-width: 750px) {
  .main_nav .top_bar {
    font-size: 10px;
  }
}
@media (max-width: 950px) {
  .main_nav {
    .nav_bar {
      .all_items {
        .links {
          gap: 15px;
        }
      }
    }
  }
}
@media (max-width: 1047px) {
  .main_nav {
    .nav_bar {
      .all_items {
        .icons {
          .menu {
            display: block;
            cursor: pointer;
          }
        }
        .links {
          display: none;
        }
      }
    }
  }
}

// Header Design Ended

// Footer Design Started

.main_footer {
  bottom: 0;
  left: 0;
  min-height: 38vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $mainBlack;
  .footer_center {
    // background: #dbc4c4;
    width: 90%;
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    .footer_items {
      width: 300px;
      min-height: 250px;
      color: #ffff;
      // background-color: rgb(19, 19, 19);
      padding: 10px;
      h4 {
        letter-spacing: 0.72px;
        margin-bottom: 15px;
        font-weight: 500;
      }
      h5 {
        font-size: 14px;
      }
      p {
        font-size: 12px;
        margin-top: 14px;
      }
      .footer_input {
        input {
          width: 120px;
          outline: none;
          border: none;
          background: transparent;
          padding: 2px;
          font-size: 12px;
        }
        display: flex;
        padding: 5px;
        width: 160px;
        border: 3px solid #fff;
        border-radius: 5px;
        align-items: center;
      }
    }
  }
}
$overViewheight: 200px;
$itemSectionheight: 75vh;
// Home Page Design Start
$topBarwidth: 90%;
$categoryWidth: 30%;
.home {
  height: 100vh;
  .home_banner {
    height: 360px;
    width: 90%;
    // background-color: azure;
    margin: auto;
    display: flex;
    .categoy_section {
      width: 20%;
      height: 100%;
      // background-color: rgb(117, 21, 212);

      border-right: 1px solid rgb(221, 214, 214);
      display: flex;
      align-items: center;
      .category_links {
        width: 80%;
        height: 90%;
        // background-color: #92fe9d;
        display: flex;
        flex-direction: column;
        gap: 10px;
        a {
          height: 35px;
          width: 90%;
          // background-color: #333;
          text-decoration: none;
          color: #0a0a0a;
        }
      }
    }
    .banner {
      width: 80%;
      // background-color: rgb(183, 197, 197);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .image_section {
        width: 92%;
        height: 92%;
        background-color: rgb(0, 0, 0);
        display: flex;
        .image,
        .text {
          width: 50%;
          // background-color: rgb(0, 0, 0);
        }
        .text {
          background-color: rgb(0, 0, 0);
          // background-color: rgb(87, 26, 26);
          display: flex;
          align-items: center;
          width: 51%;
          justify-content: center;
          .items {
            width: 80%;
            height: 80%;
            // background: #00c9ff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            // gap: 10px;
            .logo_txt {
              width: 90%;
              display: flex;
              align-items: center;
              // justify-content: space-between;
              // background: #22d29d;
              gap: 25px;
              p {
                margin: 0;
                color: #fff;
              }
            }
            .main_text {
              flex-direction: column;
              align-items: start;
              a {
                color: #fff;
                text-decoration: none;
                // background-color: red;
                padding: 2px;
                border-bottom: 1px solid #fff;
              }
              h1 {
                color: #fff;
                font-size: 4rem;
              }
            }
          }
        }
      }
    }
  }
  .products_section {
    width: 90%;
    min-height: 250px;
    // background-color: #00c9ff;
    padding: 1px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    // justify-content: center;
    gap: 25px;
    
    .product_card {
      height: 250px;
      width: 200px;
      // background-color: #22d29d;
      // margin: 1px;
      color: #000;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      .image_section {
        width: 100%;
        height: 70%;
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 70%;
          height: 70%;
        }
      }
      .detail_section {
        // background-color: #ccc;
        height: 30%;
        display: flex;
        flex-direction: column;
        p {
          font-size: 13px;
        }
        .price {
          // background-color: #92fe9d ;
          display: flex;
          gap: 20px;
          .mrp {
            color: #898989;
            text-decoration: line-through;
          }
          .discounted {
            color: #db4444;
          }
        }
        .star_rating {
          display: flex;
        }
      }
    }
  }
}
@media (max-width: 1475px) {
  .home {
    .products_section {
      column-gap: 5px;
    }
  }
}
@media (max-width: 1364px) {
  .home {
    .products_section {
      .product_card {
        // background-color: red;
        width: 195px;
      }
    }
  }
}
@media (max-width: 1330px) {
  .home {
    .products_section {
      justify-content: center;
    }
  }
}
@media (max-width: 999px) {
  .home {
    .home_banner {
      height: 260px;
      .banner {
        .image_section {
          .text {
            .items {
              .logo_txt {
                h1 {
                  font-size: 3rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 776px) {
  .home {
    .home_banner {
      height: 210px;
      .categoy_section {
        .category_links {
          a {
            font-size: 13px;
          }
        }
      }
      .banner {
        .image_section {
          .text {
            .items {
              .logo_txt {
                h1 {
                  font-size: 2.2rem;
                }
                a {
                  font-size: 12px;
                  img {
                    width: 19px;
                    height: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 660px) {
  .home {
    .home_banner {
      height: 160px;
      .categoy_section {
        .category_links {
          a {
            font-size: 10px;
          }
        }
      }
      .banner {
        .image_section {
          .text {
            .items {
              .logo_txt.main_text {
                gap: 0;
              }
              .logo_txt {
                h1 {
                  font-size: 2rem;
                }
                img {
                  width: 33px;
                }
                p {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 540px) {
  .home {
    .home_banner {
      height: 160px;
      display: flex;
      justify-content: center;
      .categoy_section {
        display: none;
      }
      .banner {
        width: 100%;
        .image_section {
          .text {
            .items {
              .logo_txt.main_text {
                gap: 0;
              }
              .logo_txt {
                h1 {
                  font-size: 1.5rem;
                }
                img {
                  width: 33px;
                }
                p {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
body {
  .signup {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    .signup_section {
      width: 85%;
      // height: 80%;
      height: 618px;
      // background-color: rgba(0, 0, 0);
      display: flex;
      .image_section {
        width: 60%;
        background: #cbe4e8;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: auto;
          height: auto;
        }
      }
      .input_section {
        width: 500px;
        // background-color: rgb(187, 179, 179);
        display: flex;
        align-items: center;
        justify-content: center;
        .controlls {
          height: 85%;
          width: 80%;
          // background-color: aquamarine;
          display: flex;
          flex-direction: column;

          align-items: center;
          .header_text {
            // background-color: teal;
            width: 80%;
            color: #0e0e0e;
          }
          .input_box {
            width: 80%;
            height: 70px;
            // background-color: red;
            margin-top: 5px;
            display: flex;
            align-items: end;
            a {
              color: gray;
              text-decoration: underline;
            }
            .inp_l {
              position: relative;
              // background-color: antiquewhite;
              width: 100%;
              border-bottom: 1px solid gray;
              z-index: 99;

              label {
                transition: 0.5s ease;
                font-weight: normal;
                font-size: 12px;
                color: gray;
                position: absolute;
                left: 0px;
                z-index: -1;
              }
              input {
                background-color: transparent;
                outline: none;
                width: 100%;
                border: none;
                outline: none;
                z-index: 99;
              }
              input:focus ~ label,
              input:not(:focus):valid ~ label {
                top: -15px;
              }
            }
            button,
            #signup {
              width: 100%;
              height: 70%;
              border: none;
              cursor: pointer;
              text-decoration: none;
              color: #ffff;
              border-radius: 5px;
              background: #db4444;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .main_nav {
    .nav_bar {
      .all_items {
        .logo_section {
          img {
            width: 100px;
          }
        }
        .icons {
          .search_box {
            input {
              width: 100px;
              // background-color: red;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .main_nav {
    .nav_bar {
      .all_items {
        // background-color: red;
        .logo_section {
          img {
            width: 90px;
          }
        }
        .icons {
          img {
            width: 25px;
            height: 25px;
          }
          .search_box {
            img {
              width: 15px;
              height: 15px;
            }
            // background-color: gold;
            input {
              width: 80px;

              // background-color: red;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1060px) {
  .main_footer {
    .footer_center {
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
}
@media (max-width: 1036px) {
  body {
    .signup {
      .input_section {
        border: 1px solid gray;
        border-radius: 5px;
        height: 600px;
      }
      .signup_section {
        display: flex;
        align-content: center;
        justify-content: center;
        .image_section {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 527px) {
  body {
    .signup {
      .signup_section {
        .input_section {
          .controlls {
            width: 100%;
          }
        }
      }
    }
  }
}

// Email Verification Page
/* Global styles */
.otp-form {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;

  h2 {
    margin-bottom: 20px;
    color: #333;
  }
}

/* OTP input styles */
.otp-container,
.email-otp-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.otp-input,
.email-otp-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;

  &:focus {
    border-color: #db4444;
  }
}

#verificationCode,
#emailverificationCode {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;

  &:focus {
    border-color: #db4444;
  }
}

.email-otp {
  margin-top: 25px;
}

/* Button styles */
button {
  margin-top: 15px;
  background-color: #db4444;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #db4444;
  }
}
#err {
  color: rgb(205, 70, 70);
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(213, 171, 171);
  padding: 5px;
  // background: yellow;
  min-width: 300px;
  align-items: center;
  border-radius: 5px;
}
$sidBarWidth: 250px;
.home {
  .side_bar {
    transition: all 0.4s ease;
    // background-color: rgb(236, 228, 228);
    border-right: 0.97px solid #e8e2e2;
    background: #fff;
    height: calc(#{$overViewheight} + #{$itemSectionheight});
    width: 250px;
    // border-right: 1px solid rgb(200, 197, 197);
    display: flex;
    flex-direction: column;
    .logo {
      // background-color: #a46161;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      // gap: 28px;
      padding: 0 20px;
    }
    .links,
    .activeLink {
      // background-color: teal;
      transition: all 0.4s ease;
      margin-top: 10px;
      display: flex;
      min-height: 500px;
      padding: 0 20px;
      flex-direction: column;
      .tags {
        padding: 0 5px;
        display: flex;
        flex-direction: column;
        a {
          // background-color: #333;
          padding: 10px;
          display: flex;
          gap: 10px;
          border-radius: 4.099px;
          // background: linear-gradient(90deg, #92fe9d 0%, #00c9ff 100%);
          margin: 10px;
          color: #0e0e0e;
          text-decoration: none;
        }
        a:nth-child(2) {
          background: linear-gradient(90deg, #92fe9d 0%, #00c9ff 100%);
        }
      }
    }
    .activeLink {
      display: none;
    }
  }
  .side_bar.active {
    transition: all 0.4s ease;
    background-color: #ffff;
    width: 100px;
    position: relative;
    .links {
      display: none;
    }
    .activeLink {
      display: flex;
      transition: all 0.4s ease;
      .tags {
        // background-color: #00c9ff;
        display: flex;
        flex-direction: column;
        align-items: center;
        a:nth-child(2) {
          background-color: #22d29d;
          display: flex;
          width: 50px;
          align-items: center;
        }
      }
    }
    #lg {
      display: none;
    }
  }
  #key-val {
    display: none;
  }
  $tableMainFontColor: #29292c;
  .content_section {
    background-color: #0e0e0e;
    min-height: 100vh;
    width: calc(#{100%} - #{$sidBarWidth});
    background-color: #ffe4e4;
    .overview_section {
      width: 100%;
      height: $overViewheight;
      // opacity: 0.15;
      background: linear-gradient(
          45deg,
          rgb(96, 223, 125),
          rgb(23, 192, 161),
          rgb(147, 141, 141)
        ),
        url("/images/rect.png");
      display: flex;
      justify-content: center;
      .head_inp {
        width: 90%;
        height: 38px;
        margin-top: 25px;
        // background-color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #ffff;
        // background-color: #00c9ff;
        a {
          background-image: linear-gradient(
            90deg,
            rgb(146, 254, 157) 0%,
            rgb(0, 201, 255) 100%
          );
          padding: 5px 10px;
          border-radius: 5px;
          text-decoration: none;
          color: #0e0e0e;
        }
        h5 {
          font-size: 25px;
        }
      }
    }
    .items_section {
      width: 100%;
      min-height: $itemSectionheight;
      padding: 10px;
      background: #dbdde8;

      display: flex;
      justify-content: center;
      .ebcf_modal {
        transition: 0.6s ease;
        background-color: rgba(253, 253, 253, 0.409);
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(2px);
        z-index: 99;
        // display: none;

        transform: translateY(-100%);
        .control_section {
          // background: linear-gradient(45deg, rgb(96, 223, 125), rgb(23, 192, 161), rgb(147, 141, 141)), url("/images/rect.png");
          // background-image: linear-gradient(90deg, rgb(146, 254, 157) 0%, rgb(23, 166, 95) 100%);
          background: #22d29d;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          border-radius: 5px;
          flex-direction: column;
          .cls {
            // background-color: red;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;
            margin-bottom: 10px;
            img {
              width: 18px;
              height: 18px;
              cursor: pointer;
            }
          }
          form {
            display: flex;
            gap: 18px;
            align-items: center;
            justify-content: center;
            input,
            button {
              height: 30px;
              margin: 0;
            }
            input {
              padding: 0 10px;
              border: none;
              outline: none;
              border-radius: 5px;
            }
            button {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 14px;
            }
          }
        }
      }
      .add_product_section {
        min-height: 100vh;
        width: 100%;
        background-color: #33383983;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        display: flex;

        transform: translateY(-100%);

        align-items: center;
        transition: 0.5s ease-in-out;
        justify-content: center;
        .form_section {
          width: 136rem;

          height: 600px;
          background-color: #87dabf;
          display: flex;
          .images {
            width: 50%;
            height: 100%;
            background: #e4dbe2;
            display: flex;
            align-items: center;
            justify-content: center;
            .preview_imgs {
              width: 90%;
              height: 80%;
              // background-color: #333;
              display: flex;
              align-items: center;
              justify-content: center;
              .secondary {
                // background-color: red;
                display: flex;
                flex-direction: column;
                height: 90%;
                justify-content: center;
                align-items: center;
                width: 200px;
                input {
                  display: none;
                }
                label {
                  width: 80%;
                  height: 22%;
                  background-color: #f5f5f5;
                  cursor: pointer;
                  font-size: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-weight: 500;
                  position: relative;
                  overflow: hidden;
                  img {
                    position: absolute;
                    height: auto;
                    width: 70%;
                    left: 50%;
                    top:50%;
                    transform: translate(-50%,-50%);
                    z-index: 99;
                  }
                }
              }
              .main {
                width: 370px;
                height: 90%;
                // background-color: #92fe9d;
                display: flex;
                justify-content: center;
                align-items: center;
                input {
                  display: none;
                }
                label {
                  width: 90%;
                  height: 90%;
                  background-color: #f5f5f5;
                  cursor: pointer;
                  font-size: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-weight: 500;
                  position: relative;
                  overflow: hidden;
                  img {
                    position: absolute;
                    height: auto;
                    width:70%;
                    left: 50%;
                    top:50%;
                    transform: translate(-50%,-50%);
                    z-index: 99;
                  }
                }
              }
            }
          }
          .inputs {
            width: 50%;
            height: 100%;
            background-color: #e4dbe2;
            align-items: center;
            display: flex;
            justify-content: center;
            .all_inp {
              width: 50%;
              height: 80%;
              // background: indianred;
              justify-content: space-around;
              display: flex;
              flex-direction: column;
              .head {
                color: #db4444;
              }
              .control_section {
                // background: #00c9ff;
                display: flex;
                flex-direction: column;
                gap: 10px;
                p {
                  margin: 0;
                }

                input {
                  width: 100%;
                  height: 35px;
                  padding: 5px 14px;
                  border: none;
                  outline: none;
                  border-radius: 3px;
                  background: #f5f5f5;
                }
                textarea {
                  width: 100%;
                  border: none;
                  height: 80px;
                  resize: none;
                  padding: 10px;
                  outline: none;
                }
              }
              .end {
                // background-color: red;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                button {
                  width: 50%;
                  height: 35px;
                  font-size: 13px;
                }
              }
              #sp {
                display: flex;
                flex-direction: row;
                justify-content: start;
                // background-color: red;
                // height: 80px;
                gap: 10px;
                // gap: 10px;
                .p,
                .dsp {
                  // background-color: rebeccapurple;
                  width: 50%;
                  input,
                  select {
                    width: 100%;
                  }
                }
                .p {
                  background-color: red($color: #000000);
                }
                input {
                  width: 150px;
                }
                select {
                  // background-color: red;
                  width: 100px;
                  height: 35px;
                  border: none;
                  border-radius: 5px;
                  padding: 0 10px;
                  background: #ffff;
                }
                #spc {
                  // background-color: #00c9ff;
                  display: flex;
                  width: 100%;
                  height: 80px;
                  position: relative;
                  align-items: center;
                  gap: 5px;
                  justify-content: center;
                  input {
                    width: 82px;
                    padding: 0 5px;
                    font-size: 10px;
                  }
                }
              }
              // #newsp{
              //   background-color: rgb(203, 197, 210);
              //   min-height: 80px;
              //   .all_spec{
              //     // background-color: red;
              //     display: flex;
              //     flex-direction: column;
              //     justify-content: space-between;
              //     align-items: center;
              //     .btns{
              //       display: flex;
              //       // background-color: rebeccapurple;
              //       // height: auto;
              //       width: 100%;
              //       justify-content: space-between;
              //       button{
              //         height: 25px;
              //         width: 30px;
              //         display: flex;
              //         align-items: center;
              //         justify-content: center;
              //         background: #22d29d;
              //       }
              //     }
              //     .dynamic_inpt{
              //       background-color:red;
              //       // margin-top: 10px;
              //       overflow-y: scroll;
              //       width: 70%;
              //       min-height: 40px;
              //       gap: 10px;
              //       display: flex;
              //       align-items: center;
              //       // overflow-x: scroll;
              //       justify-content: center;
              //       flex-wrap: wrap;
              //       input{
              //         width: 200px;
              //         height: 30px;
              //       }
              //     }
              //   }

              // }
            }
          }
        }
      }
      .add_product_section.active {
        transform: translateY(0);
      }
      .ebcf_modal.active {
        // display: flex;
        transform: translateY(0);
        transition: 0.6s ease;
      }
      .admin_top_control {
        display: flex;
        align-items: center;
        padding: 0 10px;
        height: 50px;

        button,
        a {
          background: linear-gradient(
            90deg,
            rgb(146, 254, 157) 0%,
            rgb(0, 201, 255) 100%
          );
          padding: 5px 10px;
          font-size: 15px;
          border-radius: 5px;
          text-decoration: none;
          color: #0e0e0e;
          transition: 0.5s ease;
          cursor: pointer;

          &:hover {
            transition: 0.9s ease;
            background: linear-gradient(
              90deg,
              rgb(0, 201, 255) 0%,
              rgb(146, 254, 157) 100%
            );
          }
        }
      }

      .table {
        width: 80%;
        min-height: 300px;
        border-radius: 5.289px;
        background: linear-gradient(153deg, #000 99.99%, rgba(0, 0, 0, 0) 100%);
        backdrop-filter: blur(20.067087173461914px);
        // margin-top: 1px;
        overflow: hidden;
        margin: auto;
        .top_section {
          width: 100%;
          height: 80px;
          // background-color: #db4444;
          padding: 0 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            font-size: 17px;
            color: #ffff;
          }
          .filter {
            display: flex;
            gap: 5px;
            // background-color: red;
            a {
              padding: 10px;
              border-radius: 4.099px;
              background: $tableMainFontColor;
              text-decoration: none;
              color: #898989;
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
          }
        }
        .table_content {
          width: 100%;
          min-height: 50px;
          // background-color: bisque;
          display: flex;
          padding: 0 10px;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid rgba(137, 137, 137, 0.3);
          .table_datas {
            color: #ffffff;
            // background-color: brown;
            padding: 5px;
            width: 20%;
            height: 100%;
            .active,
            .blocked {
              padding: 5px;
              color: #ffffff;
              border-radius: 24.594px;
              background: rgba(10, 250, 118, 0.455);
              width: 55px;
              display: flex;
              justify-content: center;
              font-size: 12px;
              align-items: center;
            }
            .blocked {
              border-radius: 24.594px;
              background: rgba(245, 37, 37, 0.418);
              width: 62px;
            }
          }

          .table_datas:nth-child(1) {
            // background-color: red;
            width: 20%;
          }
          .table_datas:nth-child(2) {
            width: 35%;
          }
          .table_datas:nth-child(3) {
            width: 10%;
          }

          .table_datas:nth-child(5) {
            width: 15%;
            // background-color: red;
          }
          .table_datas:nth-child(4) {
            width: 15%;
            // background-color: red;
          }

          .head {
            color: #898989;
          }
        }
        .data_section {
          min-height: 58px;
        }
      }
      .key_val {
        background-color: rgb(18, 17, 19);
        min-width: 100%;
        border: 1px solid rgba(137, 137, 137, 0.3);
        min-height: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        // grid-area: 10px;
        .detail {
          width: 70%;
          min-height: 200px;
          background-color: rgb(16, 15, 15);
          // border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid rgba(137, 137, 137, 0.3);
          flex-direction: column;
          .data {
            min-height: 40px;
            width: 90%;
            border: 1px solid rgba(137, 137, 137, 0.3);
            // background-color: #00c9ff;
            display: flex;
            p {
              // background-color: #22d29d;
              min-height: 100%;
              padding: 0 10px;
              color: #fff;
              text-wrap: wrap;
              display: flex;
              align-items: center;
              justify-content: start;
              width: 50%;
              border-right: 1px solid rgba(137, 137, 137, 0.3);
              word-break: break-all; // overflow: hidden; /* Prevent text from wrapping */
            }
            .status {
              display: flex;
              align-items: center;
              justify-content: space-around;
              width: 50%;
              .btn_active,
              .btn_block {
                padding: 5px;
                color: #ffffff;
                border-radius: 24.594px;
                background: rgba(10, 250, 118, 0.455);
                width: 55px;
                display: flex;
                justify-content: center;
                font-size: 12px;
                align-items: center;
              }
              .btn_block {
                border-radius: 24.594px;
                background: rgba(245, 37, 37, 0.418);
                width: 62px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1412px) {
  .home {
    .content_section {
      .items_section {
        .add_product_section {
          .form_section {
            width: 120rem;
            height: 550px;
          }
        }
      }
    }
  }
}
@media (max-width: 1229px) {
  .home {
    .content_section {
      .items_section {
        .add_product_section {
          display: flex;
          justify-content: center;
          .form_section {
            display: flex;
            background: transparent;
            align-items: center;
            flex-direction: column;
            min-height: 90vh;
            width: 130rem;
            .images {
              background-color: #1a1a1a;
              width: 80%;
            }
            .inputs {
              width: 80%;
              background-color: #232222;
              padding-bottom: 10px;
              color: #ffff;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1472px) {
  .home {
    .content_section {
      .items_section {
        .table {
          width: 90%;
          .top_section {
            padding: 0 25px;
          }
          .table_content {
            .table_datas {
              display: flex;
              align-items: center;
              // justify-content: center;
            }
          }
        }
      }
    }
  }
}
#sidebartoggle {
  display: none;
}
@media (max-width: 1350px) {
  .home {
    .content_section {
      .items_section {
        .table {
          .table_content {
            .table_datas {
              justify-content: start;
            }
          }
        }
      }
    }
    .side_bar {
      position: absolute;
      left: 0;
      top: 0;
      backdrop-filter: blur(1px);
      background-color: #eeeaea6c;
      z-index: 1;
      .logo {
        #sidebartoggle {
          display: block;
        }
      }
    }
    .content_section {
      width: 100%;
    }
  }
}
@media (max-width: 1208px) {
  .home {
    .content_section {
      .items_section {
        #tb {
          display: none;
        }
        #key-val {
          display: flex;
        }
      }
    }
  }
}
@media (max-width: 547px) {
  .home {
    .content_section {
      .items_section {
        .key_val {
          width: auto;
          z .detail {
            width: 90%;
          }
        }
      }
    }
  }
}
