@import url("https://fonts.googleapis.com/css2?family=Abel&family=Agdasima&family=Akaya+Telivigala&family=Amatic+SC&family=Bebas+Neue&family=Comfortaa:wght@300;400;600&family=Fira+Sans:ital,wght@0,200;0,300;0,500;1,100;1,200;1,700;1,800&family=Gemunu+Libre:wght@200;500;600;700;800&family=Glass+Antiqua&family=Josefin+Slab:ital,wght@0,100;0,200;0,400;0,700;1,100;1,200;1,300&family=Kanit:ital,wght@0,200;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,400;1,600;1,800;1,900&family=Life+Savers:wght@400;700&family=Michroma&family=Mukta:wght@200;400&family=Noto+Sans+Mono:wght@100;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,700;0,800;1,300;1,400;1,800&family=Orbitron:wght@400;500;600;700;800&family=Oswald:wght@500&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,200;1,400&family=Quicksand:wght@300;400&family=Roboto:wght@400;500;700&family=Rubik+Vinyl&family=Satisfy&family=Shadows+Into+Light&family=Snippet&family=Solitreo&family=Syncopate:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

body {
  position: relative;
  background-color: #fff;
}

.main_nav {
  height: 100px;
  border-bottom: 1px solid rgb(221, 214, 214);
}
.main_nav .top_bar {
  width: 100%;
  height: 40px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}
.main_nav .nav_bar {
  width: 100%;
  height: calc(100px - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_nav .nav_bar .all_items {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_nav .nav_bar .all_items .links {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.main_nav .nav_bar .all_items .links a {
  color: black;
  text-decoration: none;
}
.main_nav .nav_bar .all_items .icons {
  display: flex;
  align-items: center;
  gap: 18px;
}
.main_nav .nav_bar .all_items .icons .search_box {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 8px;
}
.main_nav .nav_bar .all_items .icons .search_box input {
  border: none;
  width: 180px;
  outline: none;
  background: transparent;
  font-size: 12px;
}
.main_nav .nav_bar .all_items .icons .crt {
  position: relative;
}
.main_nav .nav_bar .all_items .icons .crt span {
  position: absolute;
  top: -10%;
  right: -6%;
  z-index: 1;
  background-color: #db4444;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 13px;
  height: 13px;
}
.main_nav .nav_bar .all_items .icons .menu {
  display: none;
}

.main_nav .nav_bar .all_items .links.active {
  display: block;
  background-color: rgb(173, 74, 74);
  position: absolute;
  right: 0;
  top: 100px;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
}

@media (max-width: 750px) {
  .main_nav .top_bar {
    font-size: 10px;
  }
}
@media (max-width: 950px) {
  .main_nav .nav_bar .all_items .links {
    gap: 15px;
  }
}
@media (max-width: 1047px) {
  .main_nav .nav_bar .all_items .icons .menu {
    display: block;
    cursor: pointer;
  }
  .main_nav .nav_bar .all_items .links {
    display: none;
  }
}
.main_footer {
  bottom: 0;
  left: 0;
  min-height: 38vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.main_footer .footer_center {
  width: 90%;
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.main_footer .footer_center .footer_items {
  width: 300px;
  min-height: 250px;
  color: white;
  padding: 10px;
}
.main_footer .footer_center .footer_items h4 {
  letter-spacing: 0.72px;
  margin-bottom: 15px;
  font-weight: 500;
}
.main_footer .footer_center .footer_items h5 {
  font-size: 14px;
}
.main_footer .footer_center .footer_items p {
  font-size: 12px;
  margin-top: 14px;
}
.main_footer .footer_center .footer_items .footer_input {
  display: flex;
  padding: 5px;
  width: 160px;
  border: 3px solid #fff;
  border-radius: 5px;
  align-items: center;
}
.main_footer .footer_center .footer_items .footer_input input {
  width: 120px;
  outline: none;
  border: none;
  background: transparent;
  padding: 2px;
  font-size: 12px;
}

.home {
  height: 100vh;
}
.home .cart_secttion {
  width: 90%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
  gap: 10px;
}
.home .cart_secttion .brudCrump {
  width: 100%;
  height: 80px;
  display: flex;
  align-content: center;
}
.home .cart_secttion .brudCrump span {
  display: flex;
  align-items: center;
  margin-right: 6px;
}
.home .cart_secttion .table {
  margin-top: 10px;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.home .cart_secttion .table .row {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.home .cart_secttion .table .row .cols {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  text-transform: capitalize;
}
.home .cart_secttion .table .row .cols .qty_button {
  height: 40px;
  width: 72px;
  border: 1.5px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
}
.home .cart_secttion .table .row .cols .qty_button .text {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .cart_secttion .table .row .cols .qty_button .nav {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.home .cart_secttion .table .row .cols .qty_button .nav a {
  height: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 2px;
}
.home .cart_secttion .table .row .cols:nth-child(1) {
  width: 40%;
}
.home .cart_secttion .returnandupdate {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.home .cart_secttion .returnandupdate a {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}
.home .cart_secttion .place-order {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.home .cart_secttion .place-order .cupon_apply {
  height: 100%;
  width: 300px;
  border-radius: 4px;
  border: 1.5px solid #000;
}
.home .cart_secttion .place-order .place_order_box {
  height: 100%;
  width: 380px;
  border-radius: 4px;
  border: 1.5px solid #000;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.home .cart_secttion .place-order .place_order_box .headertxt {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: end;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 500;
}
.home .cart_secttion .place-order .place_order_box .midtxt {
  height: 75%;
  width: 100%;
  padding: 20px;
}
.home .cart_secttion .place-order .place_order_box .midtxt .txt {
  height: 25%;
  width: 100%;
  border-bottom: 1.5px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .cart_secttion .place-order .place_order_box .midtxt .txt a {
  background-color: #db4444;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
}
.home .cart_secttion .place-order .place_order_box .midtxt .txt:nth-child(3) {
  border: none;
}
.home .cart_secttion .place-order .place_order_box .midtxt .txt:last-child {
  border: none;
  justify-content: center;
}
.home .cart_secttion .place-order .sp {
  width: 430px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.home .cart_secttion .place-order .sp button {
  height: 45px;
  font-size: 12px;
  margin: 0;
  width: 140px;
  text-transform: capitalize;
}
.home .cart_secttion .place-order .sp input {
  height: 45px;
  padding-left: 15px;
  border-radius: 4px;
  border: 1px solid #000;
}
.home .home_banner {
  height: 360px;
  width: 90%;
  margin: auto;
  display: flex;
}
.home .home_banner .categoy_section {
  width: 20%;
  height: 100%;
  border-right: 1px solid rgb(221, 214, 214);
  display: flex;
  align-items: center;
}
.home .home_banner .categoy_section .category_links {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.home .home_banner .categoy_section .category_links a {
  height: 35px;
  width: 90%;
  text-decoration: none;
  color: #0a0a0a;
}
.home .home_banner .banner {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .home_banner .banner .image_section {
  width: 92%;
  height: 92%;
  background-color: rgb(0, 0, 0);
  display: flex;
}
.home .home_banner .banner .image_section .image,
.home .home_banner .banner .image_section .text {
  width: 50%;
}
.home .home_banner .banner .image_section .text {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  width: 51%;
  justify-content: center;
}
.home .home_banner .banner .image_section .text .items {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.home .home_banner .banner .image_section .text .items .logo_txt {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 25px;
}
.home .home_banner .banner .image_section .text .items .logo_txt p {
  margin: 0;
  color: #fff;
}
.home .home_banner .banner .image_section .text .items .main_text {
  flex-direction: column;
  align-items: start;
}
.home .home_banner .banner .image_section .text .items .main_text a {
  color: #fff;
  text-decoration: none;
  padding: 2px;
  border-bottom: 1px solid #fff;
}
.home .home_banner .banner .image_section .text .items .main_text h1 {
  color: #fff;
  font-size: 4rem;
}
.home .products_section {
  width: 90%;
  min-height: 250px;
  padding: 1px;
  margin: 15px auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
.home .products_section .product_card {
  height: 250px;
  width: 200px;
  color: #000;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.home .products_section .product_card .image_section {
  width: 100%;
  height: 70%;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.home .products_section .product_card .image_section .move {
  position: absolute;
  top: 5%;
  align-items: center;
  gap: 2px;
  justify-content: center;
  right: 3%;
  display: flex;
  flex-direction: column;
}
.home .products_section .product_card .image_section img {
  width: 70%;
  height: 70%;
}
.home .products_section .product_card .detail_section {
  height: 30%;
  display: flex;
  flex-direction: column;
}
.home .products_section .product_card .detail_section p {
  font-size: 13px;
}
.home .products_section .product_card .detail_section .price {
  display: flex;
  gap: 20px;
}
.home .products_section .product_card .detail_section .price .mrp {
  color: #898989;
  text-decoration: line-through;
}
.home .products_section .product_card .detail_section .price .discounted {
  color: #db4444;
}
.home .products_section .product_card .detail_section .star_rating {
  display: flex;
}

@media (max-width: 870px) {
  .home .cart_secttion .place-order {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
  }
  .home .cart_secttion .place-order .sp {
    height: 80px;
  }
}
@media (max-width: 1475px) {
  .home .products_section {
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
}
@media (max-width: 1364px) {
  .home .products_section .product_card {
    width: 195px;
  }
}
@media (max-width: 1330px) {
  .home .products_section {
    justify-content: center;
  }
}
@media (max-width: 999px) {
  .home .home_banner {
    height: 260px;
  }
  .home .home_banner .banner .image_section .text .items .logo_txt h1 {
    font-size: 3rem;
  }
}
@media (max-width: 776px) {
  .home .home_banner {
    height: 210px;
  }
  .home .home_banner .categoy_section .category_links a {
    font-size: 13px;
  }
  .home .home_banner .banner .image_section .text .items .logo_txt h1 {
    font-size: 2.2rem;
  }
  .home .home_banner .banner .image_section .text .items .logo_txt a {
    font-size: 12px;
  }
  .home .home_banner .banner .image_section .text .items .logo_txt a img {
    width: 19px;
    height: 18px;
  }
}
@media (max-width: 660px) {
  .home .home_banner {
    height: 160px;
  }
  .home .home_banner .categoy_section .category_links a {
    font-size: 10px;
  }
  .home .home_banner .banner .image_section .text .items .logo_txt.main_text {
    gap: 0;
  }
  .home .home_banner .banner .image_section .text .items .logo_txt h1 {
    font-size: 2rem;
  }
  .home .home_banner .banner .image_section .text .items .logo_txt img {
    width: 33px;
  }
  .home .home_banner .banner .image_section .text .items .logo_txt p {
    font-size: 10px;
  }
}
@media (max-width: 540px) {
  .home .home_banner {
    height: 160px;
    display: flex;
    justify-content: center;
  }
  .home .home_banner .categoy_section {
    display: none;
  }
  .home .home_banner .banner {
    width: 100%;
  }
  .home .home_banner .banner .image_section .text .items .logo_txt.main_text {
    gap: 0;
  }
  .home .home_banner .banner .image_section .text .items .logo_txt h1 {
    font-size: 1.5rem;
  }
  .home .home_banner .banner .image_section .text .items .logo_txt img {
    width: 33px;
  }
  .home .home_banner .banner .image_section .text .items .logo_txt p {
    font-size: 10px;
  }
}
body .signup {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
body .signup .signup_section {
  width: 85%;
  height: 618px;
  display: flex;
}
body .signup .signup_section .image_section {
  width: 60%;
  background: #cbe4e8;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .signup .signup_section .image_section img {
  width: auto;
  height: auto;
}
body .signup .signup_section .input_section {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .signup .signup_section .input_section .controlls {
  height: 85%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .signup .signup_section .input_section .controlls .header_text {
  width: 80%;
  color: #0e0e0e;
}
body .signup .signup_section .input_section .controlls .input_box {
  width: 80%;
  height: 70px;
  margin-top: 5px;
  display: flex;
  align-items: end;
}
body .signup .signup_section .input_section .controlls .input_box a {
  color: gray;
  text-decoration: underline;
}
body .signup .signup_section .input_section .controlls .input_box .inp_l {
  position: relative;
  width: 100%;
  border-bottom: 1px solid gray;
  z-index: 99;
}
body .signup .signup_section .input_section .controlls .input_box .inp_l label {
  transition: 0.5s ease;
  font-weight: normal;
  font-size: 12px;
  color: gray;
  position: absolute;
  left: 0px;
  z-index: -1;
}
body .signup .signup_section .input_section .controlls .input_box .inp_l input {
  background-color: transparent;
  outline: none;
  width: 100%;
  border: none;
  outline: none;
  z-index: 99;
}
body .signup .signup_section .input_section .controlls .input_box .inp_l input:focus ~ label,
body .signup .signup_section .input_section .controlls .input_box .inp_l input:not(:focus):valid ~ label {
  top: -15px;
}
body .signup .signup_section .input_section .controlls .input_box button,
body .signup .signup_section .input_section .controlls .input_box #signup {
  width: 100%;
  height: 70%;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  background: #db4444;
}

@media (max-width: 600px) {
  .main_nav .nav_bar .all_items .logo_section img {
    width: 100px;
  }
  .main_nav .nav_bar .all_items .icons .search_box input {
    width: 100px;
  }
}
@media (max-width: 500px) {
  .main_nav .nav_bar .all_items .logo_section img {
    width: 90px;
  }
  .main_nav .nav_bar .all_items .icons img {
    width: 25px;
    height: 25px;
  }
  .main_nav .nav_bar .all_items .icons .search_box img {
    width: 15px;
    height: 15px;
  }
  .main_nav .nav_bar .all_items .icons .search_box input {
    width: 80px;
  }
}
@media (max-width: 1060px) {
  .main_footer .footer_center {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1036px) {
  body .signup .input_section {
    border: 1px solid gray;
    border-radius: 5px;
    height: 600px;
  }
  body .signup .signup_section {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  body .signup .signup_section .image_section {
    display: none;
  }
}
@media (max-width: 527px) {
  body .signup .signup_section .input_section .controlls {
    width: 100%;
  }
}
/* Global styles */
.otp-form {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}
.otp-form h2 {
  margin-bottom: 20px;
  color: #333;
}

/* OTP input styles */
.otp-container,
.email-otp-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.otp-input,
.email-otp-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}
.otp-input:focus,
.email-otp-input:focus {
  border-color: #db4444;
}

#verificationCode,
#emailverificationCode {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}
#verificationCode:focus,
#emailverificationCode:focus {
  border-color: #db4444;
}

.email-otp {
  margin-top: 25px;
}

/* Button styles */
button {
  margin-top: 15px;
  background-color: #db4444;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #db4444;
}

#err {
  color: rgb(205, 70, 70);
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(213, 171, 171);
  padding: 5px;
  min-width: 300px;
  align-items: center;
  border-radius: 5px;
}

.home .product_detail_section {
  width: 130rem;
  margin: auto;
  display: flex;
  height: 580px;
}
.home .product_detail_section .preview_images {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .product_detail_section .preview_images .imgs {
  width: 90%;
  height: 85%;
  display: flex;
  justify-content: space-between;
}
.home .product_detail_section .preview_images .imgs .secondaries {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home .product_detail_section .preview_images .imgs .secondaries .prviewImg {
  width: 100%;
  height: 23%;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .product_detail_section .preview_images .imgs .secondaries .prviewImg img {
  height: auto;
  width: 70%;
}
.home .product_detail_section .preview_images .imgs .main {
  width: 72%;
  height: 100%;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .product_detail_section .preview_images .imgs .main img {
  height: auto;
  width: 60%;
}
.home .product_detail_section .descriptions {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.home .product_detail_section .descriptions .contents {
  width: 90%;
  height: 85%;
  display: flex;
  flex-direction: column;
}
.home .product_detail_section .descriptions .contents .head_part {
  display: flex;
  flex-direction: column;
  min-height: 55%;
  border-bottom: 1px solid gray;
}
.home .product_detail_section .descriptions .contents .head_part h1 {
  font-size: 25px;
}
.home .product_detail_section .descriptions .contents .head_part .ratings {
  display: flex;
  align-items: center;
}
.home .product_detail_section .descriptions .contents .head_part .rate_and_desc {
  padding-bottom: 10px;
  height: auto;
}
.home .product_detail_section .descriptions .contents .head_part .rate_and_desc .price {
  display: flex;
  gap: 25px;
}
.home .product_detail_section .descriptions .contents .head_part .rate_and_desc .price .mrp {
  text-decoration: line-through;
  color: #5d5656;
}
.home .product_detail_section .descriptions .contents .head_part .rate_and_desc .price h3 {
  font-size: 15px;
}
.home .product_detail_section .descriptions .contents .head_part .rate_and_desc p {
  font-size: 12px;
}
.home .product_detail_section .descriptions .contents .head_part .rate_and_desc ul {
  list-style: none;
  font-size: 13px;
}
.home .product_detail_section .descriptions .contents .function_part {
  width: 100%;
  height: 50%;
  padding-top: 30px;
}
.home .product_detail_section .descriptions .contents .function_part .btns {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .product_detail_section .descriptions .contents .function_part .btns .qty {
  border: 1px solid rgb(196, 196, 196);
  height: 40px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  overflow: hidden;
}
.home .product_detail_section .descriptions .contents .function_part .btns .qty a {
  border: 1px solid rgb(196, 196, 196);
  border-top: none;
  border-bottom: none;
  text-decoration: none;
  color: #000;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 45px;
}
.home .product_detail_section .descriptions .contents .function_part .btns .qty .plus {
  background-color: #db4444;
  color: #fff;
  text-decoration: none;
}
.home .product_detail_section .descriptions .contents .function_part .btns .addtocart {
  height: 40px;
  width: 160px;
  display: flex;
  align-items: center;
  background-color: #db4444;
  text-decoration: none;
  justify-content: center;
  color: #ffffff;
  border-radius: 3px;
}
.home .product_detail_section .descriptions .contents .function_part .btns .whish {
  border-radius: 3px;
  border: 1px solid #e0dcdc;
}
@media (max-width: 1348px) {
  .home .product_detail_section {
    width: 115rem;
    height: 540px;
  }
}
@media (max-width: 1172px) {
  .home .product_detail_section {
    width: 100rem;
    height: 450px;
  }
}
@media (max-width: 1015px) {
  .home .product_detail_section {
    height: 400px;
    align-items: center;
    width: 95rem;
    justify-content: center;
  }
  .home .product_detail_section .preview_images {
    width: 90%;
  }
  .home .product_detail_section .preview_images .imgs {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  .home .product_detail_section .preview_images .imgs .secondaries {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 30%;
  }
  .home .product_detail_section .preview_images .imgs .secondaries .prviewImg {
    height: 100%;
    width: 23%;
  }
  .home .product_detail_section .preview_images .imgs .main {
    width: 100%;
  }
  .home .product_detail_section .descriptions {
    width: 90%;
  }
}
@media (max-width: 953px) {
  .home .product_detail_section {
    flex-direction: column;
    height: 100vh;
    width: 700px;
  }
}
@media (max-width: 722px) {
  .home .product_detail_section {
    width: 600px;
  }
}
@media (max-width: 613px) {
  .home .product_detail_section {
    width: 500px;
  }
}
@media (max-width: 503px) {
  .home .product_detail_section {
    width: 400px;
  }
  .home .product_detail_section .preview_images {
    height: 50%;
  }
}
@media (max-width: 405px) {
  .home .product_detail_section {
    width: 340px;
  }
  .home .product_detail_section .descriptions .contents .function_part .btns .qty {
    width: 70px;
    height: 25px;
  }
  .home .product_detail_section .descriptions .contents .function_part .btns .qty a {
    width: 20px;
  }
  .home .product_detail_section .descriptions .contents .function_part .btns .addtocart {
    width: 120px;
    height: 27px;
    font-size: 10px;
  }
  .home .product_detail_section .descriptions .contents .function_part .btns .whish {
    height: 25px;
    font-size: 10px;
  }
}
.home .side_bar {
  transition: all 0.4s ease;
  border-right: 0.97px solid #e8e2e2;
  background: #fff;
  height: calc(200px + 75vh);
  width: 250px;
  display: flex;
  flex-direction: column;
}
.home .side_bar .logo {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
}
.home .side_bar .links,
.home .side_bar .activeLink {
  transition: all 0.4s ease;
  margin-top: 10px;
  display: flex;
  min-height: 500px;
  padding: 0 20px;
  flex-direction: column;
}
.home .side_bar .links .tags,
.home .side_bar .activeLink .tags {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
}
.home .side_bar .links .tags a,
.home .side_bar .activeLink .tags a {
  padding: 10px;
  display: flex;
  gap: 10px;
  border-radius: 4.099px;
  margin: 10px;
  color: #0e0e0e;
  text-decoration: none;
}
.home .side_bar .links .tags a:nth-child(2),
.home .side_bar .activeLink .tags a:nth-child(2) {
  background: linear-gradient(90deg, #92fe9d 0%, #00c9ff 100%);
}
.home .side_bar .activeLink {
  display: none;
}
.home .side_bar.active {
  transition: all 0.4s ease;
  background-color: white;
  width: 100px;
  position: relative;
}
.home .side_bar.active .links {
  display: none;
}
.home .side_bar.active .activeLink {
  display: flex;
  transition: all 0.4s ease;
}
.home .side_bar.active .activeLink .tags {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .side_bar.active .activeLink .tags a:nth-child(2) {
  background-color: #22d29d;
  display: flex;
  width: 50px;
  align-items: center;
}
.home .side_bar.active #lg {
  display: none;
}
.home #key-val {
  display: none;
}
.home .content_section {
  background-color: #0e0e0e;
  min-height: 100vh;
  width: calc(100% - 250px);
  background-color: #ffe4e4;
}
.home .content_section .overview_section {
  width: 100%;
  height: 200px;
  background: linear-gradient(45deg, rgb(96, 223, 125), rgb(23, 192, 161), rgb(147, 141, 141)), url("/images/rect.png");
  display: flex;
  justify-content: center;
}
.home .content_section .overview_section .head_inp {
  width: 90%;
  height: 38px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.home .content_section .overview_section .head_inp a {
  background-image: linear-gradient(90deg, rgb(146, 254, 157) 0%, rgb(0, 201, 255) 100%);
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #0e0e0e;
}
.home .content_section .overview_section .head_inp h5 {
  font-size: 25px;
}
.home .content_section .items_section {
  width: 100%;
  min-height: 75vh;
  padding: 10px;
  background: #dbdde8;
  display: flex;
  justify-content: center;
}
.home .content_section .items_section .ebcf_modal {
  transition: 0.6s ease;
  background-color: rgba(253, 253, 253, 0.409);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 99;
  transform: translateY(-100%);
}
.home .content_section .items_section .ebcf_modal .control_section {
  background: #22d29d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  flex-direction: column;
}
.home .content_section .items_section .ebcf_modal .control_section .cls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 10px;
}
.home .content_section .items_section .ebcf_modal .control_section .cls img {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.home .content_section .items_section .ebcf_modal .control_section form {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: center;
}
.home .content_section .items_section .ebcf_modal .control_section form input,
.home .content_section .items_section .ebcf_modal .control_section form button {
  height: 30px;
  margin: 0;
}
.home .content_section .items_section .ebcf_modal .control_section form input {
  padding: 0 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.home .content_section .items_section .ebcf_modal .control_section form button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.home .content_section .items_section .add_product_section {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(51, 56, 57, 0.5137254902);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  transform: translateY(-100%);
  align-items: center;
  transition: 0.5s ease-in-out;
  justify-content: center;
}
.home .content_section .items_section .add_product_section .form_section {
  width: 136rem;
  height: 600px;
  background-color: #87dabf;
  display: flex;
}
.home .content_section .items_section .add_product_section .form_section .images {
  width: 50%;
  height: 100%;
  background: #e4dbe2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .content_section .items_section .add_product_section .form_section .images .preview_imgs {
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .content_section .items_section .add_product_section .form_section .images .preview_imgs .secondary {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.home .content_section .items_section .add_product_section .form_section .images .preview_imgs .secondary input {
  display: none;
}
.home .content_section .items_section .add_product_section .form_section .images .preview_imgs .secondary label {
  width: 80%;
  height: 22%;
  background-color: #f5f5f5;
  cursor: pointer;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}
.home .content_section .items_section .add_product_section .form_section .images .preview_imgs .secondary label img {
  position: absolute;
  height: auto;
  width: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.home .content_section .items_section .add_product_section .form_section .images .preview_imgs .main {
  width: 370px;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .content_section .items_section .add_product_section .form_section .images .preview_imgs .main input {
  display: none;
}
.home .content_section .items_section .add_product_section .form_section .images .preview_imgs .main label {
  width: 90%;
  height: 90%;
  background-color: #f5f5f5;
  cursor: pointer;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}
.home .content_section .items_section .add_product_section .form_section .images .preview_imgs .main label img {
  position: absolute;
  height: auto;
  width: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.home .content_section .items_section .add_product_section .form_section .inputs {
  width: 50%;
  height: 100%;
  background-color: #e4dbe2;
  align-items: center;
  display: flex;
  justify-content: center;
}
.home .content_section .items_section .add_product_section .form_section .inputs .all_inp {
  width: 50%;
  height: 80%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.home .content_section .items_section .add_product_section .form_section .inputs .all_inp .head {
  color: #db4444;
}
.home .content_section .items_section .add_product_section .form_section .inputs .all_inp .control_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.home .content_section .items_section .add_product_section .form_section .inputs .all_inp .control_section p {
  margin: 0;
}
.home .content_section .items_section .add_product_section .form_section .inputs .all_inp .control_section input {
  width: 100%;
  height: 35px;
  padding: 5px 14px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: #f5f5f5;
}
.home .content_section .items_section .add_product_section .form_section .inputs .all_inp .control_section textarea {
  width: 100%;
  border: none;
  height: 80px;
  resize: none;
  padding: 10px;
  outline: none;
}
.home .content_section .items_section .add_product_section .form_section .inputs .all_inp .end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home .content_section .items_section .add_product_section .form_section .inputs .all_inp .end button {
  width: 50%;
  height: 35px;
  font-size: 13px;
}
.home .content_section .items_section .add_product_section .form_section .inputs .all_inp #sp {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
}
.home .content_section .items_section .add_product_section .form_section .inputs .all_inp #sp .p,
.home .content_section .items_section .add_product_section .form_section .inputs .all_inp #sp .dsp {
  width: 50%;
}
.home .content_section .items_section .add_product_section .form_section .inputs .all_inp #sp .p input,
.home .content_section .items_section .add_product_section .form_section .inputs .all_inp #sp .p select,
.home .content_section .items_section .add_product_section .form_section .inputs .all_inp #sp .dsp input,
.home .content_section .items_section .add_product_section .form_section .inputs .all_inp #sp .dsp select {
  width: 100%;
}
.home .content_section .items_section .add_product_section .form_section .inputs .all_inp #sp .p {
  background-color: 0;
}
.home .content_section .items_section .add_product_section .form_section .inputs .all_inp #sp input {
  width: 150px;
}
.home .content_section .items_section .add_product_section .form_section .inputs .all_inp #sp select {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  background: white;
}
.home .content_section .items_section .add_product_section .form_section .inputs .all_inp #sp #spc {
  display: flex;
  width: 100%;
  height: 80px;
  position: relative;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.home .content_section .items_section .add_product_section .form_section .inputs .all_inp #sp #spc input {
  width: 82px;
  padding: 0 5px;
  font-size: 10px;
}
.home .content_section .items_section .add_product_section.active {
  transform: translateY(0);
}
.home .content_section .items_section .ebcf_modal.active {
  transform: translateY(0);
  transition: 0.6s ease;
}
.home .content_section .items_section .admin_top_control {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 50px;
}
.home .content_section .items_section .admin_top_control button,
.home .content_section .items_section .admin_top_control a {
  background: linear-gradient(90deg, rgb(146, 254, 157) 0%, rgb(0, 201, 255) 100%);
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 5px;
  text-decoration: none;
  color: #0e0e0e;
  transition: 0.5s ease;
  cursor: pointer;
}
.home .content_section .items_section .admin_top_control button:hover,
.home .content_section .items_section .admin_top_control a:hover {
  transition: 0.9s ease;
  background: linear-gradient(90deg, rgb(0, 201, 255) 0%, rgb(146, 254, 157) 100%);
}
.home .content_section .items_section .table {
  width: 80%;
  min-height: 300px;
  border-radius: 5.289px;
  background: linear-gradient(153deg, #000 99.99%, rgba(0, 0, 0, 0) 100%);
  -webkit-backdrop-filter: blur(20.0670871735px);
          backdrop-filter: blur(20.0670871735px);
  overflow: hidden;
  margin: auto;
}
.home .content_section .items_section .table .top_section {
  width: 100%;
  height: 80px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .content_section .items_section .table .top_section p {
  font-size: 17px;
  color: white;
}
.home .content_section .items_section .table .top_section .filter {
  display: flex;
  gap: 5px;
}
.home .content_section .items_section .table .top_section .filter a {
  padding: 10px;
  border-radius: 4.099px;
  background: #29292c;
  text-decoration: none;
  color: #898989;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .content_section .items_section .table .table_content {
  width: 100%;
  min-height: 50px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(137, 137, 137, 0.3);
}
.home .content_section .items_section .table .table_content .table_datas {
  color: #ffffff;
  padding: 5px;
  width: 20%;
  height: 100%;
}
.home .content_section .items_section .table .table_content .table_datas .active,
.home .content_section .items_section .table .table_content .table_datas .blocked {
  padding: 5px;
  color: #ffffff;
  border-radius: 24.594px;
  background: rgba(10, 250, 118, 0.455);
  width: 55px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  align-items: center;
}
.home .content_section .items_section .table .table_content .table_datas .blocked {
  border-radius: 24.594px;
  background: rgba(245, 37, 37, 0.418);
  width: 62px;
}
.home .content_section .items_section .table .table_content .table_datas:nth-child(1) {
  width: 20%;
}
.home .content_section .items_section .table .table_content .table_datas:nth-child(2) {
  width: 35%;
}
.home .content_section .items_section .table .table_content .table_datas:nth-child(3) {
  width: 10%;
}
.home .content_section .items_section .table .table_content .table_datas:nth-child(5) {
  width: 15%;
}
.home .content_section .items_section .table .table_content .table_datas:nth-child(4) {
  width: 15%;
}
.home .content_section .items_section .table .table_content .head {
  color: #898989;
}
.home .content_section .items_section .table .data_section {
  min-height: 58px;
}
.home .content_section .items_section .key_val {
  background-color: rgb(18, 17, 19);
  min-width: 100%;
  border: 1px solid rgba(137, 137, 137, 0.3);
  min-height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home .content_section .items_section .key_val .detail {
  width: 70%;
  min-height: 200px;
  background-color: rgb(16, 15, 15);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(137, 137, 137, 0.3);
  flex-direction: column;
}
.home .content_section .items_section .key_val .detail .data {
  min-height: 40px;
  width: 90%;
  border: 1px solid rgba(137, 137, 137, 0.3);
  display: flex;
}
.home .content_section .items_section .key_val .detail .data p {
  min-height: 100%;
  padding: 0 10px;
  color: #fff;
  text-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 50%;
  border-right: 1px solid rgba(137, 137, 137, 0.3);
  word-break: break-all;
}
.home .content_section .items_section .key_val .detail .data .status {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.home .content_section .items_section .key_val .detail .data .status .btn_active,
.home .content_section .items_section .key_val .detail .data .status .btn_block {
  padding: 5px;
  color: #ffffff;
  border-radius: 24.594px;
  background: rgba(10, 250, 118, 0.455);
  width: 55px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  align-items: center;
}
.home .content_section .items_section .key_val .detail .data .status .btn_block {
  border-radius: 24.594px;
  background: rgba(245, 37, 37, 0.418);
  width: 62px;
}

@media (max-width: 1412px) {
  .home .content_section .items_section .add_product_section .form_section {
    width: 120rem;
    height: 550px;
  }
}
@media (max-width: 1229px) {
  .home .content_section .items_section .add_product_section {
    display: flex;
    justify-content: center;
  }
  .home .content_section .items_section .add_product_section .form_section {
    display: flex;
    background: transparent;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
    width: 130rem;
  }
  .home .content_section .items_section .add_product_section .form_section .images {
    background-color: #1a1a1a;
    width: 80%;
  }
  .home .content_section .items_section .add_product_section .form_section .inputs {
    width: 80%;
    background-color: #232222;
    padding-bottom: 10px;
    color: white;
  }
}
@media (max-width: 1472px) {
  .home .content_section .items_section .table {
    width: 90%;
  }
  .home .content_section .items_section .table .top_section {
    padding: 0 25px;
  }
  .home .content_section .items_section .table .table_content .table_datas {
    display: flex;
    align-items: center;
  }
}
#sidebartoggle {
  display: none;
}

@media (max-width: 1350px) {
  .home .content_section .items_section .table .table_content .table_datas {
    justify-content: start;
  }
  .home .side_bar {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px);
    background-color: rgba(238, 234, 234, 0.4235294118);
    z-index: 1;
  }
  .home .side_bar .logo #sidebartoggle {
    display: block;
  }
  .home .content_section {
    width: 100%;
  }
}
@media (max-width: 1208px) {
  .home .content_section .items_section #tb {
    display: none;
  }
  .home .content_section .items_section #key-val {
    display: flex;
  }
}
@media (max-width: 547px) {
  .home .content_section .items_section .key_val {
    width: auto;
  }
  .home .content_section .items_section .key_val z .detail {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */