<%-include('../partials/header.ejs') %>
<div class="home">
    <div class="home_banner">
        <div class="categoy_section">

        </div>
        <div class="banner">
            <div class="image_section">
                <div class="text">

                </div>
                <div class="image">
                    <img src="/images/iphone.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
</h1>
<%-include('../partials/footer.ejs') %>