<%-include('../partials/header.ejs') %>
    <div class="signup">
        <div class="signup_section">
            <div class="image_section">
                <img src="/images/removedSign.png" alt="">
            </div>
            <div class="input_section">

                <form method="post" action="/user/login"   class="controlls" id="form" >
                    <div class="header_text">
                        <h2>Login to MegaMart</h2>
                        <p>Enter your detail below</p>
                    </div>
                    <%if(err){%>
                        <p id="err"><%-err%><a href="/errorMessage/close"><img src="/images/cross.png"
                                        style="width: 13px;height:13px" alt=""></a></p>
                        <% } %>
                            <div class="input_box">
                                <div class="inp_l">
                                    <input type="text" id="emailOrMobileInput" name="email_or_Phone" autofocus required>
                                    <label for="emailOrMobileInput">Enter Your Email Address</label>
                                </div>
                            </div>
                            <div class="input_box">
                                <div class="inp_l">
                                    <input type="password"  name="password" id="pass" autofocus required>

                                    <label for="pass">Password</label>
                                </div>
                            </div>
                            <div class="input_box" style="display: flex;align-items: end;justify-content:space-between;">
                                <button type="submit" style="width: 150px;margin:4px;">Login</button>
                                <p style="padding:0"><a href="/" style="color: rgb(201, 43, 43);text-decoration: none;"> Forgot Password?</a></p>
                            </div>
                            <div class="input_box" style="display: flex;align-items: center;justify-content: center;">
                                <a href="/auth/login" id="signup"
                                    style="border: 1px solid rgba(0, 0, 0, 0.40); background: #fff;color:#000;display:flex;align-items:center;justify-content: center;gap:5px">
                                    <img src="/images/Google.svg" alt="">
                                    Login with Google</a>
                            </div>
                            <div class="input_box" style="display: flex;align-items: center;justify-content: center;">
                                <p>Create new Account <a href="/signup"> Signup</a></p>
                            </div>

                </form>
            </div>
        </div>
    </div>
    </div>
    <!-- <script>
        $(document).ready(function () {
            $("#form").on("submit", function (event) {
                event.preventDefault();
                let name1 = $('#name').val()
                let email1 = $('#emailOrMobileInput').val()
                let password1 = $("#pass").val()
    
                // Send a POST request to the server
                $.ajax({
                    url: '/signup',
                    method: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ name: name1, email_or_Phone: email1, password: password1 }),
                    success: function (data) {
                        // Check if the server response indicates success and redirects accordingly
                        if (data.success) {
                            // Redirect to the /mail/confirm route
                            window.location.href = '/mail/confirm';
                        } else {
                            // Handle any error messages from the server
                            alert(data.error);
                        }
                    },
                    error: function (error) {
                        // Handle AJAX request error
                        console.error("Error:", error);
                    }
                });
            });
        });
    </script> -->

    <!-- <script>
        $(document).ready(function(){
            $('#form').submit(function(e){
                e.preventDefault();
                let name1 = $('#name').val()
                let email1 = $('#emailOrMobileInput').val()
                let password1 = $("#pass").val()

                $.ajax({
                    type:'POST',
                    url:'/signup',
                    data:{name:name1,email_or_Phone:email1,password:password1},
                    success:function(response){
                        $('#name').val('')
                        $('#emailOrMobileInput').val('')
                        $('#pass').val('')
                    }
                })
            })
        })
    </script> -->
    <%-include('../partials/footer.ejs') %>