<%-include('../partials/header.ejs') %>
    <div class="signup" id="forLogin">
        <div class="toast" id="toast">
            <i class="cls fa-sharp fa-circle-xmark"></i>
            <span id="msg">Login Failed</span>
            <div class="prgrs">
                <span class="bar"></span>
            </div>
        </div>
        <div class="signup_section" style="height: 540px;">
            <div class="input_section forlogin" style="border-radius: 4px;">

                <form   class="controlls" style="height: 90%;" id="formLogin" onsubmit="loginFormSubmit(event)">
                    <div class="header_text">
                        <h2>Login to MegaMart</h2>
                        <p>Enter your detail below</p>
                    </div>

                        <p id="errLog" style="visibility: hidden;display:flex;padding:3px;justify-content: space-between;border: 1px solid rgb(223, 82, 82);width: 80%;border-radius: 5px;font-size: 12px;">
                            <span id="showLoginErr"></span>
                            <a style="cursor: pointer;" onclick="loginErrClose()"><img src="/images/cross.png"
                                        style="width: 13px;height:13px" alt=""></a></p>

                            <div class="input_box">
                                <div class="inp_l">
                                    <input type="text" id="emailOrMobileInputforLogin" name="email_or_Phone" autofocus >
                                    <label for="emailOrMobileInputforLogin">Enter Your Email Address</label>
                                </div>
                            </div>
                            <div class="input_box">
                                <div class="inp_l">
                                    <input type="password"  name="password" id="passlog">

                                    <label for="pass">Password</label>
                                </div>
                            </div>
                            <div class="input_box" style="display: flex;align-items: end;justify-content:space-between;">
                                <button type="submit" style="width: 110px;margin:4px;height: 55%;display: flex;align-items: center;justify-content: center;font-size:14px ;">Login</button>
                                <p style="padding:0"><a href="/users/accounts/forgotpassword/" style="color: rgb(201, 43, 43);text-decoration: none;"> Forgot Password?</a></p>
                            </div>
                            <div class="input_box" style="display: flex;align-items: center;justify-content: center;">
                                <a href="/auth/google/login" id="signup" 
                                    style="border: 1px solid rgba(0, 0, 0, 0.40); background: #fff;color:#000;display:flex;align-items:center;justify-content: center;gap:5px;">
                                    <img src="/images/Google.svg" alt="">
                                    Login with Google</a>
                            </div>
                            <div class="input_box" style="display: flex;align-items: center;justify-content: center;">
                                <p>Create new Account <a href="/signup"> Signup</a></p>
                            </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <!-- <script>
        $(document).ready(function () {
            $("#form").on("submit", function (event) {
                event.preventDefault();
                let name1 = $('#name').val()
                let email1 = $('#emailOrMobileInput').val()
                let password1 = $("#pass").val()
    
                // Send a POST request to the server
                $.ajax({
                    url: '/signup',
                    method: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ name: name1, email_or_Phone: email1, password: password1 }),
                    success: function (data) {
                        // Check if the server response indicates success and redirects accordingly
                        if (data.success) {
                            // Redirect to the /mail/confirm route
                            window.location.href = '/mail/confirm';
                        } else {
                            // Handle any error messages from the server
                            alert(data.error);
                        }
                    },
                    error: function (error) {
                        // Handle AJAX request error
                        console.error("Error:", error);
                    }
                });
            });
        });
    </script> -->

    <!-- <script>
        $(document).ready(function(){
            $('#form').submit(function(e){
                e.preventDefault();
                let name1 = $('#name').val()
                let email1 = $('#emailOrMobileInput').val()
                let password1 = $("#pass").val()

                $.ajax({
                    type:'POST',
                    url:'/signup',
                    data:{name:name1,email_or_Phone:email1,password:password1},
                    success:function(response){
                        $('#name').val('')
                        $('#emailOrMobileInput').val('')
                        $('#pass').val('')
                    }
                })
            })
        })
    </script> -->
    <%-include('../partials/footer.ejs') %>