<%-include('../partials/header.ejs') %>
<div class="home" style="display: flex;align-items: center;justify-content: center;">
    <div class="otp-form">
        <!-- Email OTP Form -->
        <form class="email-otp" method="post" action="/mail/confirm" onsubmit="otpFormSubmit(event)">
            <h2>Email OTP</h2>
            
                <p id="err" style="width: 150px;margin:auto;visibility: hidden;"> <span id="showErr"></span> <a onclick="errClose()"><img src="/images/cross.png" style="width: 13px;height:13px" alt=""></a></p>

            <div class="email-otp-container">
                <!-- Six input fields for OTP digits -->
                <input type="text" class="email-otp-input" pattern="\d" maxlength="1">
                <input type="text" class="email-otp-input" pattern="\d" maxlength="1" disabled>
                <input type="text" class="email-otp-input" pattern="\d" maxlength="1" disabled>
                <input type="text" class="email-otp-input" pattern="\d" maxlength="1" disabled>
                <input type="text" class="email-otp-input" pattern="\d" maxlength="1" disabled>
                <input type="text" class="email-otp-input" pattern="\d" maxlength="1" disabled>
            </div>
            
            <!-- Field to display entered OTP -->
            <input type="text" id="emailverificationCode" placeholder="Enter verification code" name="verifyNum" readonly style="visibility: hidden;">
            <div>Expires In: <span id="date">60</span>s </div>
            
            <!-- Button to verify OTP -->
            <button  style="width: 110px;font-size: 12px;display: none;" id="resendBtn" onclick="resendOtp()" type="button">resend OTP</button>
            <button type="submit" id="verifyEmailOTP" style="font-size: 12px;">VERIFY &amp; PROCEED</button>
        </form>
      </div>
</div>
<script>
    let formValue = document.getElementById('emailverificationCode');
    const ErrDiv = document.getElementById('err');
    const showErr = document.getElementById('showErr');
    const resnedBtn = document.getElementById('resendBtn');
    let initialCount = parseInt(localStorage.getItem('initialCount')) || 60
    let count = parseInt(localStorage.getItem('count')) || initialCount
    function otpFormSubmit(event) {
        event.preventDefault();
        let formData = {
            verifyNum: formValue.value
        };
        fetch('/mail/confirm/', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(formData)
        })
            .then((response) => response.json())
            .then((res) => {
                if (res.status) {
                    location.href = '/';
                }
                if (res.err) {
                    ErrDiv.style.visibility = 'visible';
                    showErr.textContent = res.err;
                    setTimeout(() => {
                        ErrDiv.style.visibility = 'hidden';
                    }, 3000);
                }
            });
    }
    
    let s = setInterval(() => {
        document.getElementById('date').textContent = count;
        if (count <= 0) {
            localStorage.setItem('initialCount', initialCount); 
            localStorage.setItem("count",count)
            clearInterval(s);
        }
        count--;
        localStorage.setItem("count",count)
    }, 1000);
    
    let milliSecond = 60000;
    setTimeout(() => {
        ErrDiv.style.visibility = 'visible';
        showErr.textContent = 'Otp Expired';
        resnedBtn.style.display = 'inline-block';
    }, milliSecond);
    
    function errClose() {
        document.getElementById('err').style.visibility = 'hidden';
    }
    function resendOtp(){
        fetch("/mail/confirm/resendotp/").then(response=>response.json()).then(res=>{
            if(res.status){
                showErr.textContent = 'Otp Resended';
                resnedBtn.style.display = 'inline-block';
                resnedBtn.style.color = 'green';
                setTimeout(()=>{
                    resnedBtn.style.display='none'
                },2000)
                localStorage.setItem('initialCount', 0); 
            }
        })
    }
</script>
<%-include('../partials/footer.ejs') %>