<%-include('../partials/header.ejs') %>
<div class="home" style="display: flex;align-items: center;justify-content: center;">
    <div class="otp-form">
        <!-- Email OTP Form -->
        <form class="email-otp" method="post" action="/mail/confirm">
            <h2>Email OTP</h2>
            <%if(err){%>
                <p id="err" style="width: 150px;margin:auto"><%-err%><a href="/otp/close"><img src="/images/cross.png" style="width: 13px;height:13px" alt=""></a></p>
           <% } %>
            <div class="email-otp-container">
                <!-- Six input fields for OTP digits -->
                <input type="text" class="email-otp-input" pattern="\d" maxlength="1">
                <input type="text" class="email-otp-input" pattern="\d" maxlength="1" disabled>
                <input type="text" class="email-otp-input" pattern="\d" maxlength="1" disabled>
                <input type="text" class="email-otp-input" pattern="\d" maxlength="1" disabled>
                <input type="text" class="email-otp-input" pattern="\d" maxlength="1" disabled>
                <input type="text" class="email-otp-input" pattern="\d" maxlength="1" disabled>
            </div>
            
            <!-- Field to display entered OTP -->
            <input type="text" id="emailverificationCode" placeholder="Enter verification code" name="verifyNum" readonly style="visibility: hidden;">
            
            <!-- Button to verify OTP -->
            <button type="submit" id="verifyEmailOTP">VERIFY &amp; PROCEED</button>
        </form>
      </div>
</div>
<%-include('../partials/footer.ejs') %>