<%-include('../partials/header.ejs') %>
    <div class="signup">
        <div class="checkout">
            <div class="heading">
                <h1>Place order</h1>
            </div>
            <form class="checkandAddress" action="" method="post">
                <div class="checkoutform place_order">
                   <div class="address">
                    <div class="select">
                        s
                    </div>
                    <div class="data">
                        <p>Mohammed Aflah</p>
                        <p>Tirurangadi Street</p>
                        <p>676306 pin</p>
                        <p>Malappuram</p>
                        <p>Kerala</p>
                        <p>koolathaflah@gmail.com</p>
                        <p>+91 94446100107</p>
                        <p>Mikro Grapheio Room3</p>
                    </div>
                   </div>
                </div>
                <div class="checkoutbox">
                    <div class="item_box">
                            <div class="priceandimg">
                                <div class="img" qty="">
                                    <img src="" width="40px" height="auto" alt="">
                                </div>
                                <div class="name">asd</div>
                                <div class="price">₹45</div>
                            </div>
                 
                        <div class="priceandimg sub">
                            <div class="name" >Subtotal  </div>
                            <div class="price">₹</div>
                        </div>
                        <div class="priceandimg sub">
                            <div class="name" >Shipping  </div>
                            <div class="price">Free</div>
                        </div>
                        <div class="priceandimg sub total">
                            <div class="name" >Total  </div>
                            <div class="price"></div>
                        </div>
                        <div class="priceandimg select">
                            <div class="radio">
                                <div class="btn">
                                    <input type="radio" name="payment_method" value="Bank" id="">
                                </div>
                                <p>Bank</p>
                            </div>
                            <div class="imgs">
                                <img src="/images/fstBkash.svg" alt="">
                                <img src="/images/visacard.svg" alt="">
                                <img src="/images/Mastercard.svg" alt="">
                                <img src="/images/hndi.svg" alt="">
                            </div>
                        </div>
                        <div class="priceandimg select">
                            <div class="radio">
                                <div class="btn">
                                    <input type="radio" name="payment_method" value="COD" id="">
                                </div>
                                <p>Cash on delivery</p>
                            </div>
                            
                        </div>
                        <div class="priceandimg select button">
                            <button type="submit">Place Order</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>    
    <%-include('../partials/footer.ejs') %>

