<%-include('../partials/header.ejs') %>
    <div class="signup">
        <div class="loading">
            <img src="/images/loading.png"  alt="">
        </div>
        <div class="signup_section">
            <div class="image_section">
                <img src="/images/removedSign.png" alt="">
            </div>
            <div class="input_section">

                <form   class="controlls" id="form"  onsubmit="signupSubmit(event)">
                    <div class="header_text">
                        <h2>Create An Account</h2>
                        <p>Enter your detail below</p>
                    </div>
                    <%if(err){%>
                        <p id="err" style="visibility: visible;">
                            <span id="displayErr"><%-err%></span>
                            <a id="errclose" style="cursor: pointer;"><img src="/images/cross.png"
                                        style="width: 13px;height:13px" alt=""></a></p>
                    <%}%>
                        <p id="err" style="visibility: hidden;">
                            <span id="displayErr"></span>
                            <a id="errclose" style="cursor: pointer;"><img src="/images/cross.png"
                                        style="width: 13px;height:13px" alt=""></a></p>

                            <div class="input_box">
                                <div class="inp_l">
                                    <input list="uniques" name="name" id="name" autofocus autocomplete="off" oninput="getUnique(event)">
                                    <label for="name">Name</label>
                                     <datalist id="uniques" style="background-color: red;">
                                       
                                     </datalist>
                                </div>
                            </div>
                            <div class="input_box">
                                <div class="inp_l">
                                    <input type="text" id="emailOrMobileInput" name="email_or_Phone"  >
                                    <label for="emailOrMobileInput">Enter Your Email Address</label>
                                </div>
                            </div>
                            <div class="input_box">
                                <div class="inp_l">
                                    <input type="password" name="password" id="pass"  >
                                    <label for="pass">Password</label>
                                </div>
                            </div>
                            <div class="input_box" style="display: flex;align-items: center;justify-content: center;">
                                <button type="submit">Create Account</button>
                            </div>
                            <div class="input_box" style="display: flex;align-items: center;justify-content: center;">
                                <a href="/auth/google/signup" id="signup"
                                    style="border: 1px solid rgba(0, 0, 0, 0.40); background: #fff;color:#000;display:flex;align-items:center;justify-content: center;gap:5px">
                                    <img src="/images/Google.svg" alt="">
                                    Signup with Google</a>
                            </div>
                            <div class="input_box" style="display: flex;align-items: center;justify-content: center;">
                                <p>Already Have an Account? <a href="/user/login"> Login</a></p>
                            </div>

                </form>
            </div>
        </div>
    </div>
    </div>
    <script>
        let errMsg=document.getElementById("err")
        let closeErr=document.getElementById("errclose")
        let displayErr=document.getElementById("displayErr")
        function signupSubmit(event){
            event.preventDefault()
            const name=document.getElementById("name")
            const email=document.getElementById("emailOrMobileInput")
            const pass=document.getElementById("pass")
            const formDetail={
                name:name.value,
                email_or_Phone:email.value,
                password:pass.value
            }
            //alert(JSON.stringify(formDetail))
            if(!name.value.trim() || !email.value.trim() || !pass.value.trim()){
                displayErr.innerHTML=`Must enter values in all fields`
                errMsg.style.visibility = "visible";
                return;
            }
            fetch('/signup',{
                method:"POST",
                headers:{'Content-Type': 'application/json'},
                body:JSON.stringify(formDetail)
            }).then((response)=>response.json()).then((res)=>{
                
                    if(res.status){
                        location.href=`/mail/confirm`
                    }else if(res.err){    
                    document.querySelector('.loading').style.display='none'
                    errMsg.style.visibility='visible'
                    displayErr.textContent=res.err
                    return
                }
            })
        }
        closeErr.addEventListener('click',()=>{
            errMsg.style.visibility='hidden'
        })
        function getUnique(event){
            let body={
                name:event.target.value
            }
            fetch("/users/signup/suggestunique",{
                method:'POST',
                headers:{'Content-Type': 'application/json'},
                body:JSON.stringify(body)
            }).then((response)=>response.json()).
            then((res)=>{
                let suggestions=res.suggestions;
                let optons=[];
                suggestions.forEach((value)=>{
                    let option=`<option value="${value}"> ✅ ${value}</option>`
                        optons.push(option)
                })
                let joined=optons.join('')
                document.getElementById("uniques").innerHTML=joined
            })
        }
    </script>
    
    <%-include('../partials/footer.ejs') %>

