<%-include('../partials/header.ejs') %>
<div class="signup">
    <div class="signup_section">
        <div class="image_section">
            <img src="/images/removedSign.png" alt="">
        </div>
        <div class="input_section">
            
                <form action="/signup" class="controlls" method="post">
                <div class="header_text">
                    <h2>Create An Account</h2>
                    <p >Enter your detail below</p>
                </div>
                <%if(err){%>
                    <p id="err"><%-err%><a href="/errorMessage/close"><img src="/images/cross.png" style="width: 13px;height:13px" alt=""></a></p>
               <% } %>
                <div class="input_box">
                    <div class="inp_l">
                        <input type="text" name="name" id="name" autofocus required>
                        <label for="name">Name</label>
                    </div>
                </div>
                <div class="input_box">
                    <div class="inp_l">
                        <input type="text" id="emailOrMobileInput" name="email_or_Phone" autofocus required>
                        <label for="emailOrMobileInput">Enter Your Email Address</label>
                    </div>
                </div>
                <div class="input_box">
                    <div class="inp_l">
                        <input type="password" name="password" id="pass" autofocus required>
                        <label for="pass">Password</label>
                    </div>
                </div>
                <div class="input_box" style="display: flex;align-items: center;justify-content: center;">
                    <button type="submit">Create Account</button>
                </div>
                <div class="input_box" style="display: flex;align-items: center;justify-content: center;">
                    <a href="/auth/google" id="signup" style="border: 1px solid rgba(0, 0, 0, 0.40); background: #fff;color:#000;display:flex;align-items:center;justify-content: center;gap:5px">
                        <img src="/images/Google.svg" alt=""> 
                        Signup with Google</a>
                </div>
                <div class="input_box" style="display: flex;align-items: center;justify-content: center;">
                    <p>Already Have an Account?  <a href=""> Login</a></p>
                </div>

            </form>
            </div>
        </div>
    </div>
</div>
<%-include('../partials/footer.ejs') %>