<%-include('../partials/header.ejs') %>
<div class="home">
    <div class="products_section" id="prod_section">
                    <div class="product_card" >
                        <div class="image_section">
                            <img src="/images/redrm.png">
                        </div>
                        <div class="detail_section" >
                            <p><%-data.productName%></p>
                            <div class="price">
                                <p class="discounted">
                                    10
                                </p>
                                <p class="mrp">
                                    10
                                </p>
                            </div>
                            <div class="star_rating">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                            </div>
                        </div>
                    </div>
                    
                
    </div>
    <%-include('../partials/footer.ejs') %>
</div>
