<div class="side_bar" id="side">
    <div class="logo">
        <img id="lg" src="/images/logo.svg" style="width: 110px;" alt="">

        <img src="/images/side.svg" alt="" style="cursor: pointer;" id="sidebartoggle">

    </div>
    <div class="links">
        <p style="margin: 0;padding:0">MENU</p>
        <div class="tags">
            <a href="/admin/overview">
                <img src="/images/home.svg" alt="">
                Overview</a>
            <a href="/admin/">
                <img src="/images/customers.svg" alt="">
                Customers</a>
            <a href="/admin/products">
                <img src="/images/product.svg" alt="">
                products</a>
            <a href="">
                <img src="/images/transaction.svg" alt="">
                orders</a>
            <a href="">
                <img src="/images/order.svg" alt="">
                Transaction</a>
            <a href="">
                <img src="/images/reports.svg" alt="">
                Report</a>
            <a href="/admin/category">
                <img src="/images/categories.svg" alt="">
                Category</a>
            <a href="/admin/">
                <img src="/images/bnr.svg" alt="">
                Banner</a>
        </div>
    </div>
    <div class="activeLink">
        <div class="tags">
            <a href="/admin/overview">
                <img src="/images/home.svg" alt=""></a>
            <a href="/admin/">
                <img src="/images/customers.svg" alt=""></a>
            <a href="/admin/products">
                <img src="/images/product.svg" alt="">
            </a>
            <a href="">
                <img src="/images/transaction.svg" alt="">
            </a>
            <a href="">
                <img src="/images/order.svg" alt="">
            </a>
            <a href="">
                <img src="/images/reports.svg" alt="">
            </a>
            <a href="/admin/category">
                <img src="/images/categories.svg" alt="">
            </a>
        </div>
    </div>
</div>
<script>
    let sideToggle = document.querySelector("#sidebartoggle");
    let sidebar = document.querySelector("#side");
    sideToggle.addEventListener("click", () => {
        sidebar.classList.toggle("active");
    });
</script>