<div class="side_bar">
    <div class="logo">
        <img src="/images/logo.svg" style="width: 110px;" alt="">
        <img src="/images/side.svg" alt="">
    </div>
    <div class="links">
        <p style="margin: 0;padding:0">MENU</p>
        <div class="tags">
            <a href="">
                <img src="/images/home.svg" alt="">
                Overview</a>
            <a href="">
                <img src="/images/product.svg" alt="">
                products</a>
            <a href="">
                <img src="/images/transaction.svg" alt="">
                orders</a>
            <a href="">
                <img src="/images/order.svg" alt="">
                Transaction</a>
            <a href="">
                <img src="/images/reports.svg" alt="">
                Report</a>
        </div>
    </div>
</div>